<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <meta name="author" content="Nikita Belousov" />
    <meta http-equiv="Content-Language" content="th"> 
<!--     <meta http-equiv="content-Type" content="text/html; charset=window-874"> 
    <meta http-equiv="content-Type" content="text/html; charset=tis-620">  -->

      <!--[if Internet Explorer]>
      <link href="css/IE_input_bug.css" rel="stylesheet" type="text/css" />
      <![endif]-->
      
      <link href="css/reset.css" rel="stylesheet" type="text/css" />
      <link href="css/style.css" rel="stylesheet" type="text/css" />
      <link rel="stylesheet" type="text/css" href="css/jquery.lightbox-0.5.css" media="screen" />
      
      <title>{{ page.title }}</title>
      
      <script type="text/javascript" src="js/jquery.js"></script>
      <script type="text/javascript" src="js/jquery.lightbox-0.5.js"></script>
      <script type="text/javascript" src="js/input_clear.js"></script>
      
      <!-- Lightbox -->
      <script type="text/javascript">
      $(function() {
          $('.latest_gallery a').lightBox();
      });
      </script>
      
      <!-- Loading -->
      <script type="text/javascript">
      $(function() { 
      $('.main_content, .main_navi').hide(); 
      $(window).load( function() {  
      $('#loader').fadeOut();
      $('.main_content, .main_navi').fadeIn(2000); 
      } );
      } );
                          
      $(document).ready(function() {
      $("body").css("display", "none");

      $("body").fadeIn(2000);

    $("a.transition").click(function(event){
      event.preventDefault();
      linkLocation = this.href;
      $("body").fadeOut(1000, redirectPage);
    });

    function redirectPage() {
      window.location = linkLocation;
    }
      });
      </script>
      
  </head>
	<link rel="shortcut icon" href="/favicon2.png" type="image/png">
  <body>
    <!-- Start facebook script -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!-- End facebook script -->
    
        {{ content }}


  </body>
</html>
